:root {
    --color-primary: #4F0097;
    --color-primary-light: #DCD3F38F;
    --color-secondary: #F5A0BA;
    --color-secondary-light: #FFE0E296;
    --color-tertiary: #BFE2EF;
    --color-tertiary-light: #BFE2EF75;
    --color-quaternary: #EFE4BF;
    --color-quaternary-light: #EFE4BF75;
    --font-titles: 'Lexend Deca', sans-serif;
    --font-titles-2: 'Lexend Deca', sans-serif;
}

@import "tailwindcss";
@plugin "tailwind-scrollbar";
@theme {
    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-secondary: var(--color-secondary);
    --color-secondary-light: var(--color-secondary-light);
    --color-tertiary: var(--color-tertiary);
    --color-tertiary-light: var(--color-tertiary-light);
    --color-quaternary: var(--color-quaternary);
    --color-quaternary-light: var(--color-quaternary-light);
    --font-titles: var(--font-titles);
    --font-titles-2: var(--font-titles-2);
}