---
import { Footer, Header } from "@/components/layout";
import BaseLayout from "./BaseLayout.astro";
const { title = "Chotalac" } = Astro.props;
---

<BaseLayout title={title}>
	<Header />
	<main class="grow">
		<slot />
	</main>
	<Footer />
</BaseLayout>