---
import DesktopNav from "./DesktopNav.astro";
import MobileNav from "./MobileNav.astro";
import { Icon } from 'astro-icon/components';
---

<header class="sticky top-0 z-50 bg-white shadow-sm">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-20">
            <a href="/" class="shrink-0">
                <img
                    src="/chotalac-logo.webp"
                    alt="Chotalac Logo"
                    class="h-16 md:h-16 w-auto"
                />
            </a>
            <DesktopNav />
            <button
                id="mobileMenuToggle"
                class="md:hidden p-2 hover:bg-gray-100 text-gray-600 rounded-lg transition-colors"
                aria-label="Menú"
            >
                <Icon name="burger-menu" size={30} />
            </button>
        </div>
    </div>
</header>

<MobileNav />
