<section class="py-12 md:py-16 lg:py-20 bg-primary-light">
	<div class="container mx-auto px-4">
		<h2
			class="text-3xl md:text-4xl lg:text-6xl font-titles-2 text-shadow-lg font-bold text-center mb-8 md:mb-12 text-gray-800"
		>
			Sobre Nosotros
		</h2>

		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 items-center"
		>
			<div class="order-2 lg:order-1">
				<img
					src="/images/about-us/factory.webp"
					alt="Sobre Nosotros - Chotalac"
					class="w-full h-auto rounded-lg object-cover"
				/>
			</div>
			<div class="order-1 lg:order-2 space-y-4 md:space-y-6">
				<p class="text-gray-700 text-lg md:text-3xl leading-relaxed text-right">
					<span class="font-bold text-primary">En Chotalac, trabajamos con pasión y compromiso,</span> 
                    cuidando cada detalle para ofrecer lo mejor a nuestros clientes,
					<span class="font-bold text-primary">
						creemos en la tradición, la innovación y en el poder de
						compartir bienestar en cada sabor.
					</span>
				</p>
			</div>
		</div>
	</div>
</section>
