<section class="py-12 md:py-16 lg:py-20">
	<div class="container mx-auto px-4">
		<h2
			class="text-3xl md:text-4xl lg:text-6xl font-titles-2 text-shadow-lg font-bold text-center mb-12 md:mb-16 text-gray-800"
		>
			Nuestra Historia
		</h2>
		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 items-center mb-12 md:mb-16"
		>
			<div class="order-1">
				<h3 class="text-2xl md:text-3xl font-bold text-primary mb-4">
					Los Inicios
				</h3>
				<p
					class="text-gray-700 text-lg md:text-2xl leading-relaxed mb-4"
				>
					Nuestra historia comenzó en 1995, con el propósito de
					impulsar el desarrollo de las comunidades productoras de
					leche en la sierra de Cajamarca. De ese sueño nació
					Chotalac, una empresa que une tradición y calidad para
					transformar la leche fresca en productos llenos de sabor y
					nutrición.
				</p>
			</div>
			<div class="order-2">
				<img
					src="/images/about-us/our-history-1.webp"
					alt="Los inicios de Chotalac"
					class="w-full h-64 md:h-80 lg:h-96 rounded-lg shadow-lg object-cover object-top"
				/>
			</div>
		</div>
		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 items-center"
		>
			<div class="order-2 lg:order-1">
				<img
					src="/images/about-us/our-history-2.webp"
					alt="Crecimiento de Chotalac"
					class="w-full h-auto rounded-lg shadow-lg object-cover"
				/>
			</div>
			<div class="order-1 lg:order-2">
				<h3
					class="text-2xl md:text-3xl text-left md:text-right font-bold text-primary mb-4"
				>
					Crecimiento y Expansión
				</h3>
				<p
					class="text-gray-700 text-lg md:text-2xl text-left md:text-right leading-relaxed mb-4"
				>
					Con el tiempo, crecimos y llevamos nuestros productos
					ciudades del país, manteniendo siempre el mismo compromiso:
					ofrecer productos naturales, frescos y elaborados con
					pasión, para acompañar y nutrir a las familias peruanas cada
					día.
				</p>
			</div>
		</div>
	</div>
</section>
