<section class="py-12 md:py-16 lg:py-20 bg-secondary-light">
	<div class="container mx-auto px-4">
		<h2
			class="text-3xl md:text-4xl lg:text-5xl font-titles-2 text-shadow-lg font-bold text-center mb-8 md:mb-12 text-gray-800"
		>
			Sobre Nosotros
		</h2>

		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 items-center"
		>
			<div class="order-2 lg:order-1">
				<img
					src="/images/about-us/home.webp"
					alt="Sobre Nosotros - Chotalac"
					class="w-full h-auto rounded-lg shadow-lg object-cover"
				/>
			</div>
			<div class="order-1 lg:order-2 space-y-4 md:space-y-6">
				<p class="text-gray-700 text-lg md:text-3xl leading-relaxed md:text-right text-justify">
					<span class="font-bold text-primary">En Chotalac, trabajamos con pasi칩n y compromiso,</span> 
                    cuidando cada detalle para ofrecer lo mejor a nuestros clientes,
					<span class="font-bold text-primary">
						creemos en la tradici칩n, la innovaci칩n y en el poder de
						compartir bienestar en cada sabor.
					</span>
				</p>
				<div class="pt-4 flex items-center justify-center lg:justify-end">
					<a
						href="/sobre-nosotros"
						class="inline-block bg-primary hover:bg-primary/90 hover:scale-110 text-white font-semibold px-8 py-3 rounded-lg transition-all duration-300 ease-in-out"
					>
						Conoce m치s
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
