---
import type { CarouselItem } from "@/types";

interface Props {
	items: CarouselItem[];
}

const { items } = Astro.props;
---

<div class="carousel-container relative w-full">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			{
				items.map((item) => (
					<div class="swiper-slide">
						<div
							class="relative h-[400px] md:h-[500px] lg:h-[600px] w-full bg-cover bg-center"
							style={`background-image: url('${item.imageUrl}');`}
						>
							<div class="absolute inset-0 bg-black/30" />
							<div class="container px-4 h-full flex items-end justify-center md:justify-start pb-8 md:pb-12 lg:pb-16">
								<div class="relative z-10 w-full max-w-3xl">
									<a
										href={`/productos/${item.id}`}
										class="inline-block mb-3 bg-quaternary hover:scale-110 hover:brightness-90 text-white font-semibold px-8 py-3 md:px-15 md:py-4 rounded-full transition-all duration-300 ease-in-out text-xl md:text-4xl text-shadow-lg"
									>
										Ver más
									</a>
									<div class="text-white space-y-2 md:space-y-3 font-titles uppercase text-shadow-lg text-shadow-gray-500">
										<h2 class="text-5xl mb-0 md:text-6xl lg:text-7xl xl:text-8xl font-bold leading-none">
											{item.title.split(' ')[0]}
										</h2>
										<p class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold leading-tight">
											{item.title.split(' ').slice(1).join(' ')}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>
		<div class="swiper-button-next text-white"></div>
		<div class="swiper-button-prev text-white"></div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<style>
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: white;
	}

	.swiper-pagination-bullet {
		background: white;
	}

	.swiper-pagination-bullet-active {
		background: white;
	}
</style>

<script>
	import Swiper from "swiper";
	import { Navigation, Pagination, Autoplay } from "swiper/modules";
	import "swiper/css";
	import "swiper/css/navigation";
	import "swiper/css/pagination";

	const swiper = new Swiper(".mySwiper", {
		modules: [Navigation, Pagination, Autoplay],
		loop: true,
		autoplay: {
			delay: 5000,
			disableOnInteraction: false,
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
	});
</script>
