<section class="py-12 md:py-16 lg:py-20">
	<div class="container mx-auto px-4">
		<h2
			class="text-3xl md:text-4xl lg:text-5xl font-titles-2 text-shadow-lg font-bold text-center mb-8 md:mb-12 text-gray-800"
		>
			Nuestras Instalaciones
		</h2>
		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 items-center"
		>
            <div class="order-2 lg:order-1 space-y-4 md:space-y-6">
                <p class="text-gray-700 text-lg md:text-3xl leading-relaxed text-left">
                    <span class="font-bold text-primary">Contamos con instalaciones modernas y tecnología de vanguardia</span> 
                    que garantizan procesos seguros y controlados, desde la recepción de la leche hasta el envasado final.
                </p>
            </div>
			<div class="order-1 lg:order-2">
				<img
					src="/images/instalaciones/1.webp"
					alt="Nuestras Instalaciones - Chotalac"
					class="w-full h-auto rounded-lg shadow-lg object-cover"
				/>
			</div>
		</div>
	</div>
</section>
